<launch>
    <arg name="run_rviz_localization" default="false"/> 
    <arg name="run_rviz_navigation" default="true"/>   
    <arg name="rviz_loc" default="$(find rb1_navigation)/rviz_config/navigation.rviz"/>

    <!--Run AMCL-->
    <include file="$(find rb1_localization)/launch/amcl.launch">
        <arg name= "run_rviz" value="$(arg run_rviz_localization)"/>
    </include>

    <arg name="odom_topic" default="/odom"/>
    <arg name="laser_topic" default="/scan"/>
    <arg name="vel_topic" default="/robot/cmd_vel"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find rb1_navigation)/params/common_costmap.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find rb1_navigation)/params/common_costmap.yaml" command="load" ns="local_costmap"/> 
        <rosparam file="$(find rb1_navigation)/params/global_costmap.yaml" command="load"/>
        <rosparam file="$(find rb1_navigation)/params/local_costmap.yaml" command="load"/>
        <rosparam file="$(find rb1_navigation)/params/global_planner.yaml" command="load"/> 
        <rosparam file="$(find rb1_navigation)/params/local_planner.yaml" command="load"/>
        <rosparam file="$(find rb1_navigation)/params/move_base.yaml" command="load"/> 
        
        <!--remap topics-->
        <remap from="cmd_vel" to="$(arg vel_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>
        <remap from="scan" to="$(arg laser_topic)"/>
    </node>
    <!--Run navigation Rviz-->
    <group if="$(arg run_rviz_navigation)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_loc)"/> 
    </group>
</launch>
