<launch>
    <arg name="scan_topic" default="scan"/>
    <arg name="run_rviz" default="True"/>
    <arg name="rviz_loc" default="$(find rb1_localization)/rviz/local.rviz"/>

    <!-- launch map -->
    <include file="$(find rb1_mapping)/launch/provide_map.launch"/>
    <!--Launch amcl node-->
    <node pkg="amcl" type="amcl" name="amcl">
        <rosparam file="$(find rb1_localization)/params/amcl_params.yaml" command="load"/>
    </node>
    <remap from="scan" to="$(arg scan_topic)"/>

    <!--Launch Rviz-->
    <group if="$(arg run_rviz)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_loc)"/> 
    </group>  
</launch>